node_modules
.parcel-cache
dist
.yarn
.env

data/
backend/data/
backend/data/vector_store/
backend/data/documents/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
.pytest_cache/

.idea/
.vscode/