.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40vw;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div {
    display: flex;
}

.wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: align-items;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: #007bff;
}

.chat-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    position: relative;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.chatbot {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.message-list {
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}

.messages {
    overflow-y: auto;
    margin-bottom: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container button {
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 0;
}

button {
    padding: 10px 60px;
    max-width: 200px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #f1f1f1;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
    margin-bottom: 10px;
    width: fit-content;
}

.user-message {
    text-align: right;
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot-message {
    text-align: left;
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start;
}

.file-upload {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload-icon {
    padding: 11px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    height: 19px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.45);
    border: none;
}

.file-upload-icon:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.55);
}